@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #060606;
    color: white;
}

.mountains{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 92%;
    background: #071307;
}

.mountains-slide{
    position: absolute;
    top: 0;
    width: 300vw;
    height: 100%;
    left: -100vw;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw auto;
}

.mountains-slide1{
    background-image: url(images/layer_1.jpg);
}
.mountains-slide2{
    background-image: url(images/layer_2.png);
}
.mountains-slide3{
    background-image: url(images/layer_3.png);
}
.mountains-slide4{
    background-image: url(images/layer_4.png);
}
.mountains-slide5{
    background-image: url(images/layer_5.png);
}
.mountains-slide6{
    background-image: url(images/layer_6.png);
}

hgroup{
    font-size: 50px;
    text-align: center;
}

.container{
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px 30px;
    font-size: 20px;
}

hgroup h2 {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

